{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Welcome to the Ticketing System!</h1>
<p class="text-center">Here you can view and purchase tickets for various events.</p>

<div class="box">
    <div class="image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPgIl_ZUHyvv4G27LM8LDvSHYOZBHpOEk2-w&s');"></div>
    <h2 class="title">TOURNAMENT MLBB</h2>
    <p class="description">DAFTAR SEKARANG!!!</p>
    <div class="buttons">
        <a href="https://forms.gle/ZQT3qs1NKkAGs6qo9" target="_blank">
            <button class="button green">Daftar</button>
        </a>
        
        <a href="./bracket.html" target="_blank">
            <button class="button black">Detail</button>
        </a>
    </div>
</div>
{% endblock %}